@model IEnumerable<WebApplication1.Models.Aluno>

@{
    ViewData["Title"] = "Listagem de alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var date = DateTime.Now.ToShortDateString();
    var message = "Ola mundo";
    int numero = 5;
    string texto = "";

    @if(numero < 10)
    {
        texto = "O número é inferior do que 18";
    }else
    {
        texto = "O número é supeior do que 18";
    }
}
<h1>Index</h1>
<h2>A hora é: @date</h2>
<h3>Mensagem: @message</h3>
<h2>O número é: @numero</h2>
<h3>Mensagem: @texto</h3>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>-
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { item.ID }) 
            </td>
        </tr> 
}
    </tbody>
</table>
