@model testeMysql.Models.Sumario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sumario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sumario1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sumario1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunosPresentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunosPresentes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunosFalta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunosFalta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSumario" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
